.bio section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1D2731;	
    flex-wrap: wrap;
    position: relative;
}

.bio section::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 20%;
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  }

.bio-container {
    background-color: #1D2731;
    padding: 1.5rem 3rem 1rem 3rem;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    align-content: flex-start;
    gap: 2rem;
    max-width: 1500px;	    
}

.bio-intro-items:nth-child(1) {
    display: block;
    flex-grow: 1;
    
}

.bio-intro-items:nth-child(2) {
    display: block;
    min-width: 30%;
    min-height: 350px;
    flex-grow: 0;
    flex-shrink: 0;
    background-image: url('../../images/bio/heart.png');
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    max-width: 75%; 
}


.h1-bio-intro {
    text-align: left !important;
    margin-bottom: 1em !important;
    
  }

h3 {
    margin-top: 0.8em;
    color: #328CC1;
}

.bio-success-bar {
    background-color: #1D2731;
    padding: 2rem 3rem 1rem 3rem;
    color: #fff;
    list-style: none;
    display: grid;
    grid-auto-flow: row; 
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1rem;	
    grid-row-gap: 0rem;
    max-width: 1500px;
    width: 100%;
}

.bio-success-section {
    text-align: center;
    border-right: 1px solid black;	
}

/* Remove border right from last item */
.bio-success-section:last-child {
    border-right: none;
}

.bio-success-image {
    text-align: center;
    color: #d9b310;
    border-right: 1px solid black;		
}

/* Remove border right from last item */
.bio-success-image:nth-child(4){
    border-right: none;
}

.bio-content {
    background-color: #1D2731;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: stretch;
}

.bio-content-1 {
    padding: 5rem 3rem 1rem 3rem;
    color: #fff;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;
    max-width: 1300px;
}

.bio-content-2 {
    padding: 2rem 3rem 1rem 3rem;
    color: #fff;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;
    max-width: 1300px;
}

.bio-content-3 {
    padding: 5rem 3rem 5rem 3rem;
    color: #fff;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;
    max-width: 1300px;
}

.bio-content-cell1 {
    position: relative;
    top: 10px;
    left: 0;
    flex: 0 1 auto;
    min-width: 30%;
}

.prizes {
    position: relative;
    top: 25px;
    left: 0;
    max-height: 85%;
    max-width: 85%;
}

.prizesBg {
    position: absolute;
    top:0px;
    left:0px;
    max-height: 85%;
    max-width: 85%;
    
}

.bio-content-cell2 {
    flex: 1 1 auto;
    align-self: flex-start;
    
}

.bio-content-cell3 {
    flex: 1 1 auto;
    align-self: flex-end;
    text-align: end;
    margin-right: 2em;

}

.bio-content-cell4 {
    position: relative;
    top: 30px;
    left: 0;
    flex: 0 1 auto;
    min-width: 30%;
}

.education {
    position: relative;
    top: 25px;
    left: 0;
    max-height: 85%;
    max-width: 85%;
}

.educationBg {
    position: absolute;
    top:0px;
    left:0px;
    max-height: 85%;
    max-width: 85%;
}

.bio-content-cell5 {
    position: relative;
    top: 30px;
    left: 0;
    flex: 0 1 auto;
    align-self: flex-start;
    min-width: 30%;
}

.employment {
    position: relative;
    top: 25px;
    left: 0;
    max-height: 85%;
    max-width: 85%;
}

.employmentBg {
    position: absolute;
    top:0px;
    left:0px;
    max-height: 85%;
    max-width: 85%;
}

.bio-content-cell6 {
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}

.bio-content-1 h1 {
    text-align: left !important;
    margin-bottom: 1em !important;
    color: #d9b310;
    
  }
  .bio-content-2 h1 {
    text-align: right !important;
    margin-bottom: 1em !important;
    color: #d9b310;    
  }
  .bio-content-3 h1 {
    text-align: left !important;
    margin-bottom: 1em !important;
    color: #d9b310;    
  }

  .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

  .scroll-down {
    padding-top: 60px;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-decoration: none;
  }

  a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 2px solid #fff;
    border-radius: 50px;
    box-sizing: border-box;
  }
  a span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sdb 2s infinite;
    animation: sdb 2s infinite;
    box-sizing: border-box;
  }
  
  a {
    color: #ffff;
    text-decoration: none;
  }

  a:hover {
    opacity: .5;
  }

  @-webkit-keyframes sdb {
    0% {
      -webkit-transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      -webkit-transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb {
    0% {
      transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }


/* ABOVE: PC/Desktop greater than 1024px */

/* Tablet */
@media screen and (min-width: 700px) and (max-width: 1023px) {
    .bio-intro-items:nth-child(2) {
        display: block;
        min-width: 30%;
        min-height: 350px;
        flex-grow: 0;
        flex-shrink: 0;
        background-image: url('../../images/bio/heart.png');
        background-position: center;
        background-size:contain;
        background-repeat: no-repeat;
        max-width: 45%; 
    }
}

/* Mobile */
@media screen and (max-width: 699px) {
    .bio-container {
        padding: 0.9rem 0.5rem 5rem 0.5rem;
        flex-direction: column-reverse;
        align-items:center;
    }

    .bio-intro-items:nth-child(2) {
        display: block;
        min-height: 200px;
        min-width: 50%;
    }

    .h1-bio-intro {
        font-size: 2rem ;  
        text-align: center !important;
        margin-bottom: 1em !important;    
    }

    h2 {
        text-align: center !important;
    }
    
    h3 {
        text-align: center !important;
        margin-top: 0.8em;
        color: #328CC1;
    }

    .bio-success-bar {
        padding: 0.2rem 1rem 5rem 0.5rem;
        grid-auto-flow: column;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(4, auto);
        grid-row-gap: 0.5rem; 
        align-items: center;
        border: none;
    }

    .bio-success-bar div:nth-child(2), .bio-success-bar div:nth-child(4) {
        margin-top: 2em;
    }

    .bio-success-section {
        border: none;	
    }

    .bio-success-image{
        border: none;
    }
    

    /* experience */
    .bio-success-image:nth-child(1) {
        order: 1;	
    }
    .bio-success-section:nth-child(5) {
        order: 2;	
    }

    /*pub*/
    .bio-success-image:nth-child(2) {
        order: 3;	
    }
    .bio-success-section:nth-child(6) {
        order: 4;	
    }

    /*priz*/
    .bio-success-image:nth-child(3) {
        order: 5;	
    }
    .bio-success-section:nth-child(7) {
        order: 6;	
    }

    /*deg*/
    .bio-success-image:nth-child(4) {
        order: 7;	
    }
    .bio-success-section:nth-child(8) {
        order: 8;	
    }

    .bio-content-1 {
        padding: 0.5rem 0.5rem 5rem 0.5rem;
        flex-direction: column;
        justify-content:center;
        align-content:center;
    }

    .bio-content-2 {
        padding: 0.5rem 0.5rem 5rem 0.5rem;
        flex-direction:column-reverse;
        justify-content: center;
        align-content: center;
    }
    
    .bio-content-3 {
        padding: 0.5rem 0.5rem 5rem 0.5rem;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .bio-content-cell1 {
        top: 0px;
        margin-bottom: 2em;
        text-align: center;
    }

    .bio-content-cell2 {
        align-items: center;
        text-align:center;        
    }

    .bio-content-cell3 {
        align-items: center;
        text-align:center;
    }

    .bio-content-cell4 {
        top: 0px;
        margin-bottom: 2em;
        text-align: center;
    }

    .bio-content-cell5 {
        top: 0px;
        margin-bottom: 2em;
        text-align: center;
    }
    .bio-content-cell6 {
        text-align: center;
        align-items: center;
    }

    .prizesBg {
        max-height: 85%;
        max-width: 85%;
    }

    .educationBg {
        max-height: 85%;
        max-width: 85%;
    }

    .employmentBg {
        max-height: 85%;
        max-width: 85%;
    }

    .bio-content-1 h1 {
        text-align: center !important;
        margin-bottom: 1em !important;
        color: #d9b310;
        
      }
      .bio-content-2 h1 {
        text-align: center !important;
        margin-bottom: 1em !important;
        color: #d9b310;    
      }
      .bio-content-3 h1 {
        text-align: center !important;
        margin-bottom: 1em !important;
        color: #d9b310;    
      }

}
